<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>from for test</title>

</head>
<body>
<form action = "add/" method = "get">
    <input type ="text" name ="num1" placeholder="Enter No 1">
    <input type = "text" name ="num2" placeholder="Enter No 2"> <br>

    <label>Addition</label>
    <input type="radio" name="operation" value="add">  <br>

    <label>Substraction</label>
    <input type="radio" name="operation" value="sub">  <br>

    <label>Multiplication</label>
    <input type ="radio" name="operation" value="mul">  <br>

    <label>Division</label>
    <input type ="radio" name="operation" value="div"> <br>

    <input type = 'submit' name="submit">


</form>
</body>
</html>